################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin
/.vs/NovosColaboradores/v16
/.vs
/.vs/EducarNovosColaboradores/v16
/obj
