.strengthMeter {
 border: 1px solid #B5B8C8;
 margin: 3px 0 3px 0;
 background-image: url(images/passwordmetter.gif);
 height: 10px;
 background-size: 100%;
}
 
.scoreBar {
 background-image: url(images/metter.gif);
 height: 10px;
 background-size: 100%;
 line-height: 1px;
 font-size: 1px;
 float: right;
}